extends layoutEmbedded

block content
  #micrositeContainer
    #micrositeContainerInner
      #micrositeContainerCompress
        include header
        #micrositeContent
          #micrositeContentColumnFull
            include wayfinderVideo
            .contentTabsCaption Additional Resources
            include contentTabs
          #micrositeContentColumnLeft
          #micrositeContentColumnRight